body {
  background-color: powderblue;
  margin-top: 50px
   height: 100vh;

    position: relative;
    z-index: -2;

}
h1 {
  color: #86ac41;
}
p {
  color: #86ac41;
}
.move-down12 {
    top: 100px;
}


.align_right {
    text-align: right
}

.white-content {
    background-color: white; /* set white background  */

    position: relative;
    left: 20;
    right: 20;


    z-index: -3;
}
.AliceBlue {
    background-color: AliceBlue;
}
.center {
    text-align: center
}

.bodymovedown{
    margin: 80px 0 0 0; /* Adjust the top margin value to create space */
            padding: 0;
}

.AliceBluec {
    color: AliceBlue;