body {
  background-color: powderblue;
   height: 100vh;

    position: relative;
    z-index: -2;
   text-align: center
}
h1 {
  color: blue;
}
p {
  color: red;
}
.move-down12 {
    margin-top: 50px;
}


.align_right {
    text-align: right
}

.white-content {
    background-color: white; /* set white background  */

    position: relative;
    height: 100vh;


    z-index: -1;
}
.AliceBlue {
    color: AliceBlue
}